.problem {
  margin: 2rem;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: blueviolet;
}

.quote {
  background-color: #f0f0f0;
}

.query {
  background-color: lightcyan;
}
.result {
  background-color: beige;
}
